/* nav */.nav {
    @extend %section-background;

    top: 0;
    text-align: center;
    padding: $lib-spacing-unit--tiny $lib-spacing-unit--large * 2;
    border-bottom: solid 1px transparent;
    
    @include respond(palm) {
        padding: $lib-spacing-unit--tiny $lib-spacing-unit;
    }

    &--hero-nav {
        margin: 0 (-$lib-spacing-unit--large);

        @include respond(palm) {
            margin: 0 (-$lib-spacing-unit);
        }
    }

    &--hidden {
        @extend %hidden;
    }

    &--fixed {
        z-index: z(nav);
        position: fixed;
        width: 100%;
        // hide box shadow of items
        overflow: hidden;
        border-color: colour(heading-text);
    }
}

/* ul */.nav__list {
    @extend %list-block--small;
    @extend %list-inline;

    margin: 0 auto;
    max-width: 650px;
}

/* a */.nav__list-link {
    &, &:link, &:visited {
        @extend %button;
        color: colour(heading-text);

        &:hover {
            color: colour(highlighted-heading-text);
        }
    }

    &--selected {
        &, &:link, &:visited {
            &, &:hover {
                color: colour(highlighted-heading-text);
            }

            &:hover {
                background-color: transparent;
                box-shadow: none;
                border-radius: none;
            }
        }
    }

    text-transform: uppercase;

    @include respond(palm) {
        padding: $lib-spacing-unit--mini;
        margin: 0 $lib-spacing-unit--tiny;
        font-size: $lib-small-print-size;
    }
}