/* div */.section--contents__text {
    @extend %palm-one-whole;
    
    width: 50%;

    &.section--no-image__text {
        width: auto;
    }
}

/* figure */.section--contents__img-figure {
    @extend %palm-one-whole;

    display: block;
    
    width: 45%;
    margin: 0 5% 0 0;
    
    .section--odd & {
        margin: 0 0 0 5%;
    }

    @include respond(palm) {
        &, .section--odd & {
            max-width: 300px;
            margin: 0 auto $lib-spacing-unit;
        }
    }
}

/* span */.section--contents__img {
    display: block;
    
    // aspect ratio of set by varying
    // `padding-top` on a per-image basis
    height: 0;
    
    // background-size: cover;

    // could replace that with the below to ensure that
    // all of image is shown (if image aspect ratio not 2:1)
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.section--contents__text,
.section--contents__img-figure {
    float: left;

    .section--odd & {
        float: right;
    }

    @include respond(palm) {
        &, .section--odd & {
            float: none;
        }
    }
}