/* figure */.section--contents__img-figure {
    // 5% padding on the text
    width: $section-image-width;
    
    @include respond(palm) {
        &, .section--odd & {
            width: auto;
            max-width: 300px;
            margin: 0 auto $lib-spacing-unit;
        }
    }

    .section--even & {
        left: 0;
    }

    .section--odd & {
        right: 0;
    }
}

/* span */.section--contents__img {
    display: block;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
}

/* figure */.section--contents__img-figure,
/* span */.section--contents__img {
    position: absolute;
    top: 0;
    bottom: 0;

    @include respond(palm) {
        &, .section--odd & {
            position: relative;
        }
    }
}

.section--contents__text.section--image__text {
    .section--even & {
        margin-left: $section-image-width + $section-image-padding;
    }

    .section--odd & {
        margin-right: $section-image-width + $section-image-padding;
    }

    @include respond(palm) {
        .section--even & {
            margin-left: 0;
        }

        .section--odd & {
            margin-right: 0;
        }
    }
}

.section--contents dl {
    margin: 0;
}

.section--contents dt {
    margin: $lib-spacing-unit--small 0;
    font-weight: bold;
    text-align: center;
}

.section--contents dd {
    margin: $lib-spacing-unit--tiny 0;
}