@mixin animatable-layers($layer-items, $class-prefix, $class-middle, $image-url-prefix, $image-url-middle, $no-touch: false, $animation-field : null, $multi-image: true, $position-layers: true) {
    $image-count: 1;

    @if ($multi-image) {
        $image-count: length($layer-items);
    }

    @for $cur-image-i from 0 through ($image-count - 1) {
        $cur-layers: $layer-items;

        @if ($multi-image) {
            $cur-layers: nth($layer-items, $cur-image-i + 1);
        }
        

        @for $cur-layer-i from 0 through (length($cur-layers) - 1) {
            $cur-layer: nth($cur-layers, $cur-layer-i + 1);
            $cur-layer-animation: null;

            @if ($animation-field == null) {
                $cur-layer-animation: $cur-layer;
            } @else {
                $cur-layer-animation: map-get($cur-layer, $animation-field);
            }

            @if (not map-get($cur-layer, "ignore")) {
                $cur-layer-class: $class-prefix + $cur-image-i + $class-middle + $cur-layer-i;

                @if (not $class-middle) {
                    $cur-layer-class: $class-prefix + $cur-layer-i;
                }

                .#{$cur-layer-class} {
                    $cur-layer-image-extension: ".jpg";
                    
                    @if (map-get($cur-layer, "png")) {
                        $cur-layer-image-extension: ".png";
                    }
                    
                    // determine image url
                    $cur-layer-image-start: $image-url-prefix;
                    @if ($class-middle) {
                        $cur-layer-image-start: $cur-layer-image-start + $cur-image-i + $image-url-middle;
                    }

                    @each $device-width in (palm, lap, desk) {
                        @include respond($device-width + "-device") {
                            background-image: url($cur-layer-image-start + $cur-layer-i + "-" + $device-width + $cur-layer-image-extension);
                        }
                    }

                    @if (not $no-touch) {
                        .-mod-touch & {
                            background-image: url($cur-layer-image-start + $cur-layer-i + "-touch" + $cur-layer-image-extension);
                        }
                    }
                    
                    $cur-layer-animate: false;

                    @if ($animation-field) {
                        $cur-layer-animate: $cur-layer-animation;
                    } @else {
                        $cur-layer-animate: map-get($cur-layer-animation, "rotate");
                    }

                    
                    @if ($cur-layer-animate) {
                        @if (map-get($cur-layer-animation, "origin-x") != null) {
                            transform-origin: map-get($cur-layer-animation, "origin-x") map-get($cur-layer-animation, "origin-y");
                        }

                        width: map-get($cur-layer, "width");
                        height: map-get($cur-layer, "height");

                        transform: translateX(map-get($cur-layer-animation, "left-start")) translateY(map-get($cur-layer-animation, "top-start"));

                        @if ($position-layers) {
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

@mixin grid-section {
    margin: $lib-spacing-unit 0;
    text-align: center;
}

@mixin grid-section-item($items-per-row : 3, $item-hover : false) {
    // sum of margins on either side of each link
    $item-link-side-margin: 5%;
    // fit this number to row
    $item-link-width: (100% / $items-per-row) - $item-link-side-margin;
    // just rectangular
    $item-link-height: $item-link-width - $item-link-side-margin;

    display: inline-block;
    width: $item-link-width;
    padding-top: $item-link-height;
    margin-left: $item-link-side-margin / 2;
    margin-right: $item-link-side-margin / 2;

    position: relative;
    opacity: 0.75;
    transition: opacity 500ms;

    @if ($item-hover) {
        &:hover {
            @extend %button:hover;

            opacity: 1;
        }
    }

    &:before {
        content: "";

        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        position: absolute;
        top: $lib-spacing-unit--small;
        bottom: $lib-spacing-unit--small;
        left: $lib-spacing-unit--small;
        right: $lib-spacing-unit--small;
    }
    
    @include respond(thumb) {
        width: 100%;
        padding-top: 95%;
        margin-left: 0;
    }
}