$parallax-image-layers: (
    (
        // the first (and only) layer of the first parallax image
        (rotate: false),
        // this is only here so that sass interprets the above line as the
        // first element of a list, instead of just one map (no list)
        // you must explicitly ignore these lists in any loops
        (ignore: true)
    ), (
        // the first layer of the second parallax image
        (rotate: false),
        // the second layer of the second parallax image
        // (rotate: -100deg, rotate-x: 6.94 / 55.84 * 100%, rotate-y: 11.08 / 28.45 * 100%)
        // (rotate: -100deg, width: 200px, height: 200px, top: 50px, left: 100px)
        
        // should be less of a shift than the normal ones
        (
            // the image file is a png, not a jpg
            png: true,

            // the start and end positions
            rotate: -360deg,

            // forms a circle
            width: 15%,
            height: 75%,
            
            topStart: 10%,
            leftStart: 5%,
            topEnd: 40%,
            leftEnd: 5%
        )
    ), (
        (rotate: false),
        (ignore: true)
    ), (
        (rotate: false),
        (ignore: true)
    ), (
        (rotate: false),
        (ignore: true)
    ), (
        (rotate: false),
        (ignore: true)
    )
);
$number-of-parallax-images: length($parallax-image-layers);
$parallax-image-file-width: 960px;
$parallax-image-file-height: 488px;