<!--
--><p>There is the option to add a £2 charity donation to the price of your ticket, which we hope you will consider. This year, the Committee is supporting three charities.<!--
	--><dl><!--
		--><dt>Jimmy's Night Shelter</dt><!--
		--><dd>Jimmy's provides emergency accommodation 365 days a year for people in Cambridge who would otherwise have no place to stay. It provides a warm, welcoming environment and supports guests in the longer term as they move into permanent accommodation.</dd><!--
		--><dt>Afrinspire</dt><!--
		--><dd>Afrinspire supports development initiatives across East Africa, working with local community leaders to understand development needs and working to fulfil these. The May Ball Presidents' Committee has committed to support Afrinspire in an ongoing capacity from year to year.</dd><!--
		--><dt>Student Minds</dt><!--
		--><dd>Student Minds believes that the best way to improve mental health in students is through the support of their peers. They offer training and support to equip students across the United Kingdom.</dd><!--
	--></dl><!--
--></p>