<!--
--><div class="section--entertainment__act-hero"><!--
		<div class="section--entertainment__act-logo section--entertainment__act-logo--james-bay section--entertainment__act-logo--hero"></div><!--
		--><div class="section--entertainment__act-hero-description">We are delighted to announce our headliner for the 2015 ball is <strong>James Bay</strong>. James won the Critics Choice award at this year's BRIT awards and his debut album 'Chaos and the Calm' shot to number 1 in the UK charts.</div><!--
--></div><!--
<div class="section--entertainment__act-list"><!--
</div><!--
--><p>Check back for more acts to be announced soon.</p>