<%
	var sponsors = _.shuffle([/*
		{
			title: "The Olive Grove",
			label: "the-olive-grove",
			url: "http://the-olivegrove.co.uk/"
		}, */
		{
			title: "Bloom",
			label: "bloom",
			url: "http://www.bloomgin.com/"
		},
		{
			title: "Brothers Cider",
			label: "brothers",
			url: "http://brotherscider.co.uk/"
		}, 
		{
			title: "Corte Malgiacca",
			label: "corte-malgiacca",
			url: "http://www.cortemalgiacca.com/"
		}, {
			title: "Lafayette Photography",
			label: "lafayette-photography",
			url: "http://www.lafayettephotography.com/"
		}, {
			title: "Fireball",
			label: "fireball",
			url: "http://www.fireballwhisky.com/"
		}, {
			title: "Beaufort And Blake",
			label: "beaufort-and-blake",
			url: "http://www.beaufortandblake.com/"
		}, {
			title: "Saffron Brewery",
			label: "saffron-brewery",
			url: "http://www.facebook.com/SaffronBrewery"
		}
	]);
%><!--
--><p>We are grateful to the following sponsors for helping us to deliver a fantastic event:</p><!--
--><div class="section--sponsors__sponsor-link-container"><!--
	--><%
		_.each(sponsors, function (curSponsor) {
			%><!--
			--><a
				href="<%= curSponsor.url %>"
				class="section--sponsors__sponsor-link section--sponsors__sponsor-link--<%= curSponsor.label %>"
				title="<%= curSponsor.title %>"
				onclick="window.trackOutboundLink('<%= curSponsor.url %>'); return false;"
			></a><!--
			--><%
		});
	%><!--
--></div><!--
--><p>For sponsorship enquiries, please contact Charlie Benson at <a href="mailto:sponsorship@jesusmayball.com">sponsorship<wbr>@jesusmayball<wbr>.com</a>.</p>