<!--
--><p>Tickets are now available to members of Jesus College and their guests. Three types are available: standard, priority, and dining, priced at £137, £153, and £174 respectively. 
</p><!--
--><p>Standard tickets allow you to enjoy the ball from 8pm, while priority tickets give you the chance to skip the queue and enjoy a champagne reception in the cloisters, and entrance to the ball before everyone else. If you are looking for an exclusive experience, our exclusive dining package includes a champagne reception, followed by a three-course dinner in the college hall, accompanied by fine wines. 
</p><!--
--><p>Tickets are available through our online system, exclusively to Jesuans until the 27<sup>th</sup> February. If any tickets remain after this initial round, they will go on sale to all members of the University.</p><!--
--><a href="http://jesusmayball.com/tickets/" class="section--ticket-info__buy-button">Click Here to Purchase Tickets</a>