<!--
--><p>Jesus May Ball is currently looking for motivated and enthusiastic workers to help make this year's Ball a success. There are a variety of roles available, including food and drink workers, security stewards, and entertainment runners, as well as the opportunity to take on a leadership position in the capacity of a Team Leader or Court Supervisor.
</p><!--
--><p>We do not operate a 'half-on, half-off' employment policy like many May Balls, and workers are offered a competitive rate which starts at £65 for the night and increases for certain roles.
</p><!--
--><p>Applicants must be willing to work as part of a team and should demonstrate charisma and enthusiasm in order to make the 15<sup>th</sup> of June a spectacular night. Previous experience in hospitality or May Balls is not essential, and training will be given in the week preceding the Ball.
</p><!--
--><p>This is a great opportunity to be a part of one of the most exciting events of the year whilst earning some money. Applications close on the 27<sup>th</sup> February, with interviews being held on the 7<sup>th</sup> or 8<sup>th</sup> of March. To apply, please complete our online application form, or email us for more information at <a href="mailto:staffing@jesusmayball.com">staffing<wbr>@jesusmayball<wbr>.com</a>.</p><!--
--><a href="work/apply" class="section--work__apply-button">Apply to work</a>